# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
.tox/
.pytest_cache/
.ruff_cache/

# Coverage
.coverage
.coverage.*
coverage.xml
htmlcov/

# Node
node_modules/

# Test project
test_wagtail_multiple_chooser_block.db
test-media/
test-static/

# OS
.DS_Store

